volumes:
  postgres-db:
  redis_data:

services:
  postgres:
    container_name: PostgresTranslatorDb
    image: 'postgres:17.3'
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: 'postgres'
      POSTGRES_PASSWORD: 'postgres'
    volumes:
      - postgres-db:/var/lib/postgresql/data
  
  redis:
    image: redis:latest
    container_name: RedisTranslatedDb
    ports:
      - "6379:6379"
    restart: unless-stopped
    volumes:
      - redis_data:/data
